.LandingContainer {
  text-align: center;
}

.LandingStaticSentence {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.LandingTypewriter {
  display: inline-block;
}

.LandingTypewriterWord {
  background: #ffe4f2;
}

.LogInButton,
.SignUpButton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  margin: 0 1rem;
  cursor: pointer;
  background-color: #44008b;
  color: #fff;
  margin-bottom: 1rem;
}

.LogInButton:hover,
.SignUpButton:hover {
  background-color: #44008b;
}
