.study-stats-button {
    background-color: purple;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    }