.searchContainer {
    padding: 10px;
}

.flashcardSetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.gridContainer {
    margin-top: 10px;
}

.searchButton {
    height: 55px;
}